doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
	body
		#root-container
			#control-panel
				#checkbox-section
					input#select-all(type="checkbox")
				#buttons-group
					#rename-button 
						i.fa.fa-pencil
						div Rename
					#delete-button  
						i.fa.fa-trash
						div Delete
					#new-file-button 
						i.fa.fa-file
						div New File
					#new-folder-button 
						i.fa.fa-folder-open
						div New Folder
			#new-rename-section
				#new-field-container 
					input#new-rename-field(type="text", placeholder="Enter the name")
				#new-field-buttons
					#new-rename-ok Ok
					#new-rename-cancel Cancel
			#items-list
		
		#popup-hover
			#popup-window
				#popup-container
					#popup-text Are you sure you want to delete selected items?
				#popup-buttons
					span#popup-yes Yes
					span#popup-no No

		include templates/file-template
		include templates/folder-template
		include templates/item-stub-template
		//- script(data-main="js/main", src="bower_components/requirejs/require.js")
		script(data-main="app_builds/main", src="bower_components/requirejs/require.js")