mixin selected-checkbox
	.selected-container
		| {% if (selected){}}
		input.item-selected(type="checkbox" checked="checked")
		| {% } else {}}
		input.item-selected(type="checkbox")
		| {% } }}

mixin edit-group
	.edit-group
		input.item-text(value="{{name}}")
		.save-button Save
		.cancel-button Cancel