@import 'nib'

#root-container
	width: 50%
	#control-panel
		overflow: hidden
		#checkbox-section
			width: 20%
			float: left
			text-align: center
			line-height: 4rem
		#buttons-group
			width: 80%
			float: left
			> div
				float: left
				width: 20%
				text-align: center
				margin: 1%
				padding: 1%
				background: #e7e7e7
				cursor: pointer
				transition: all 0.3s ease-out
				&:hover
					background: #ccc
				&.disabled
					color rgb(140, 140, 140)
					&:hover
						background: #e7e7e7
	#new-rename-section
		overflow: hidden
		height: 3rem
		#new-field-container
			width: 50%
			float: left
			height: 3rem
			#new-rename-field
				width: 70%
				height: 2rem
				padding: 0.3rem
				float: right
		#new-field-buttons
			width: 50%
			float: left
			overflow: hidden
			height: 3rem
			line-height: 3rem
			> div
				text-align: center
				width: 46%
				float: left
				cursor: pointer
				transition: all 0.3s ease-out
				margin: 0 1%
			#new-rename-ok
				background: #e7e7e7
				&:hover
					background: #61AB61
			#new-rename-cancel
				background: #e7e7e7
				&:hover
					background: #FF5353
	#items-list
		.item-container
			overflow: hidden
			cursor: pointer
			transition: all 0.3s ease-out
			margin: 1% 0
			height: 2rem
			line-height: 2rem
			a
				text-decoration: none
				color: black
				&:visited
					color: black
			&:hover
				background: #EDE9E9				
			.selected-container
				width: 20%
				float: left
				text-align: center
				&.stub
					height: 1px
			.item-name
				width: 80%
				float: left				
				i
					padding-right: 0.2rem
			.edit-group
				display: none
			&.editing
				&:hover
					background: white
				.item-name
					display: none
				.edit-group
					display: block
					overflow: hidden
					.item-text
						height: 1.5rem
					.item-text, .save-button, .cancel-button
						float: left
					.save-button
						width: 30%
						padding: 0 1%
						margin: 0 1%
						background: #e7e7e7
						transition: all 0.3s ease-out
						&:hover
							background: #61AB61
					.cancel-button
						width: 30%
						padding: 0 1%
						margin: 0 1%
						background: #e7e7e7
						transition: all 0.3s ease-out
						&:hover
							background: #FF5353
	#new-rename-section
		display: none

#popup-hover
	display: none
	width: 100%
	height: 100%
	background: rgba(220, 220, 220, 0.75)
	position: absolute
	top: 0
	left: 0
	transition: all 0.3s ease-out
	#popup-window
		background: white
		width: 20rem
		height: 10rem
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		margin: auto
		#popup-container
			height: 5rem
			padding: 1rem
		#popup-buttons
			height: 3rem
			overflow: hidden
			#popup-yes, #popup-no
				width: 50%
				line-height: 3rem
				float: left
				text-align: center
				cursor: pointer
				transition: all 0.5s ease-out
			#popup-yes:hover
				background: rgb(255, 123, 123)
			#popup-no:hover
				background: rgb(126, 216, 126)